*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(224, 250, 241);
}

form{
	position: relative;
	margin: 0 30px;
	width: 400px;
	min-width: 240px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: rgb(0,0,0);
	background: linear-gradient(77deg, rgb(220, 220, 220) 0%, rgb(230, 230, 230) 35%, rgb(255, 255, 255) 100%);
	border-radius: 7px;
	padding: 35px 35px 70px 35px;
}

h1{
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.6rem;
}

div{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	row-gap: 5px;
}

input{
	padding: 4px;
	font-size: 1rem;
}

li{
	list-style: none;
	font-size: .8rem;
	color: red;
	font-family: sans-serif;
	font-weight: 100;
}

.btn_section{
	width: 180px;
  	height: 60px;
  	position: absolute;
	bottom: -20px;
}

.btn {
	width: 130px;
	height: 40px;
	cursor: pointer;
	background: transparent;
	border: 1px solid #91C9FF;
	outline: none;
	transition: 1s ease-in-out;
  }
  
  svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
  }
  
  .btn:hover {
	transition: 1s ease-in-out;
	background: #4F95DA;
  }
  
  .btn:hover svg {
	stroke-dashoffset: -480;
  }
  
  .btn span {
	color: rgb(63, 62, 62);
	font-size: 18px;
	font-weight: 100;
  }

  .btn:hover span{
	color: rgb(255, 255, 255);
  }

